{% extends "base.html" %}


<!--############-->
{% block content %}
<div class="contact-form glass">
    <form method="POST">
        <h2>{{ page_title|title }}</h2>
        {% csrf_token %}
            <!--############-->
            {% for field in register_form %}
            <div class="input-box">
                {{ field }}
                <span>{{ field.label }}</span>
            </div>
            {% endfor %}
            <!--############-->

            <div class="input-box">
                <input type="submit" value="send">
            </div>

            <p class="sign-up">Already have an Account?<a href="{% url 'accounts:login' %}"> Login</a></p>
            <p class="terms">By creating an account you are accepting our<a href="{% url 'base:terms' %}"> Terms & Conditions</a></p>
    </form>
</div>

{% endblock content %}